# Git
.git
.gitignore
.github

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/
*.egg

# Docker
Dockerfile
.dockerignore

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Project specific
vocabulary_learning/data/*
!vocabulary_learning/data/.gitkeep 